@charset "UTF-8";

 @font-face {
  font-family: 'cute';
  src: url('../font/cute.eot?53176276');
  src: url('../font/cute.eot?53176276#iefix') format('embedded-opentype'),
       url('../font/cute.woff?53176276') format('woff'),
       url('../font/cute.ttf?53176276') format('truetype'),
       url('../font/cute.svg?53176276#cute') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'cute';
    src: url('../font/cute.svg?53176276#cute') format('svg');
  }
}
*/
 
 [class$="-icon"]:before, [class*="-icon "]:before {
  font-family: "cute";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - magrins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.star-empty-icon:before { content: '\2606'; } /* '☆' */
.menu-icon:before { content: '\2630'; } /* '☰' */
.cog-icon:before { content: '\2699'; } /* '⚙' */
.record-icon:before { content: '\26ab'; } /* '⚫' */
.up-bold-icon:before { content: '\e4af'; } /* '' */
.down-bold-icon:before { content: '\e4b0'; } /* '' */
.retweet-icon:before { content: '\e717'; } /* '' */
.article-icon:before { content: '\e734'; } /* '' */
.article-alt-icon:before { content: '\e735'; } /* '' */
.resize-full-icon:before { content: '\e744'; } /* '' */
.resize-small-icon:before { content: '\e746'; } /* '' */
.bucket-icon:before { content: '\e756'; } /* '' */
.down-open-mini-icon:before { content: '\e760'; } /* '' */
.up-open-mini-icon:before { content: '\e763'; } /* '' */
.traffic-cone-icon:before { content: '\e7a3'; } /* '' */
.twitter-icon:before { content: '\f309'; } /* '' */
.lamp-icon:before { content: '💡'; } /* '\1f4a1' */
.credit-card-icon:before { content: '💳'; } /* '\1f4b3' */
.floppy-icon:before { content: '💾'; } /* '\1f4be' */
.cd-icon:before { content: '💿'; } /* '\1f4bf' */
.doc-text-icon:before { content: '📄'; } /* '\1f4c4' */
.book-icon:before { content: '📕'; } /* '\1f4d5' */
.box-icon:before { content: '📦'; } /* '\1f4e6' */
.loop-icon:before { content: '🔁'; } /* '\1f501' */
.key-icon:before { content: '🔑'; } /* '\1f511' */
.bookmark-icon:before { content: '🔖'; } /* '\1f516' */