{% macro helper(tweet) %}
			<div class="tweet">
				<div class="icon"><a href="{{ url_for('show_user', name=tweet.user.screen_name) }}"><img src="{{ tweet.user.profile_image_url }}" /></a></div>
				<div class="meta"><span class="name">{{ tweet.user.name }}</span> <span class="screen_name">@{{ tweet.user.screen_name }}</span> - <span class="timestamp">{{ tweet.created_at | pretty_date }}</span><br /><span class="actions"><a href="{{ url_for('reply', id=tweet.id) }}">Reply</a> - <a href="{{ url_for('quote', id=tweet.id) }}">Quote</a> - <a href="{{ url_for('retweet', id=tweet.id) }}">Retweet</a> - <a href="{{ url_for('favorite', id=tweet.id) }}">Favorite</a></span></div>
				<div class="text">{{ tweet.text | safe }}</div>
			</div>
{% endmacro %}