{%- macro helper(tweet) %}
			<div class="tweet {% if is_mention(session['twitter_user'], tweet) %}mention{% endif %}">
				<div class="icon">
					<a href="{{ url_for('show_user', name=tweet.user.screen_name) }}">
						<img src="{{ tweet.user.profile_image_url }}" onerror="this.onerror=null;this.src='';" />
					</a>
				</div>
				<div class="meta">
					<span class="name"><a href="{{ url_for('show_user', name=tweet.user.screen_name) }}">{{ tweet.user.name }}</a>
					</span>
					<span class="screen_name">&nbsp;<a href="{{ url_for('show_user', name=tweet.user.screen_name) }}">@{{ tweet.user.screen_name }}</a></span>
					<span class="timestamp">&nbsp;-&nbsp;
						{%- if tweet.in_reply_to_status_id -%}
							<a href="{{ url_for('thread', id=tweet.id) }}">{{ tweet.created_at | pretty_date }}</a>
						{%- else -%}
							{{ tweet.created_at | pretty_date }}
						{%- endif -%}
					</span>
					<br />
					<span class="actions">
						<a href="{{ url_for('reply', id=tweet.id) }}">Reply</a>&nbsp;-&nbsp;<a href="{{ url_for('quote', id=tweet.id) }}">Quote</a>&nbsp;-&nbsp;
						{%- if tweet.retweeted -%}
							<a href="{{ url_for('unretweet', id=tweet.id) }}">Unretweet</a>
						{%- else -%}
							<a href="{{ url_for('retweet', id=tweet.id) }}">Retweet</a>
						{%- endif -%}&nbsp;-&nbsp; 
						{%- if tweet.favorited -%}
							<a href="{{ url_for('unfavorite', id=tweet.id) }}">Unfavorite</a>
						{%- else -%}
							<a href="{{ url_for('favorite', id=tweet.id) }}">Favorite</a>
						{%- endif -%}
						{%- if tweet.user.id_str == session['twitter_id'] -%}
							&nbsp;-&nbsp;<a href="{{ url_for('unupdate', id=tweet.id) }}">Delete</a>
						{%- endif -%}
					</span>
				</div>
				<div class="text">{{ tweet | linkify | safe }}</div>
			</div>
{%- endmacro -%}