{% import "_show_tweet.html" as show_tweet %}
{% import "_show_message.html" as show_message %}
{% import "_update.html" as update %}
<!DOCTYPE html>
<html>
<head>  
  <title>Twitter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/master.css') }}" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  
  {%- include "_nav.html" -%}
  <div id="wrapper">
  <a name="top" id="top"></a>
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="flashes">
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  {% endwith %}
  {%- block body %}{% endblock -%}
  </div>
</body>
</html>