{% import "_show_message.html" as show_message %}
<!DOCTYPE html>
<html>
<head>  
  <title>Twitter</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.png" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/normalize.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/master.css') }}" />
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
	{%- include "_nav.html" -%}
	<div id="wrapper">
		<section id="timeline">
		{%- for message in messages %}
			{{ show_message.helper(message) }}
		{% endfor -%}
		</section>
	</div>
</body>
</html>