{% extends "layout.html" %}
{% block body %}
  <section id="timeline">
  {{ update.helper(tweet) }}
  <div class="profile">
    <div class="meta"><span class="name">{{ profile.name }}</span> <span class="screen_name">@{{ profile.screen_name }}</span></div>
    <div class="text">
      <ul class="profile_details">
        <li>Bio: {{ profile | linkify | safe }}</li>
      </ul>
    </div>
  </div>
  {%- for tweet in tweets -%}
    {{ show_tweet.helper(tweet) }}
  {%- endfor -%}
    <section id="more">
      <a href="{{ url_for(endpoint, max_id=max_id, **endpoint_args) }}" id="more-link">Older tweets</a>
      <input type="hidden" value="{{ max_id }}" name="max_id" />
      <input type="hidden" value="{{ since_id }}" name="since_id" />
    </section>
  </section>
{% endblock %}