<!DOCTYPE html>
<html>
<head>
	<title>Twitter</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="/favicon.png" type="image/x-icon"/>
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/normalize/2.1.0/normalize.css" />
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/master.css') }}" />
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='js/master.js') }}"></script>
	<!--[if lt IE 9]>
	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<style>body{background-color: #3ac;font-family:'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif;font-size: 1.6rem;line-height: 2.5rem;text-align:justify;color: #fff;}a{color:#fff;}#prompt{width: 32rem;height: 14rem;position: absolute;top: 50%;left:50%;margin-left:-16rem;margin-top:-7rem;}#title-text{font-size:2rem;font-weight: bold;background-color:#3e7ab5;color:#fff;padding: 0.25rem 0.5rem;border: 2px solid #fff;}#social{color:#333;background-color: #fff;padding: 0.125rem 0.375rem;}#login-link{background-color: #333;color: #fff;text-decoration: none;padding: 0.5rem;border: 2px solid #fff;}.grey{color:#333;}@media only screen and (max-width: 656px){html{font-size: 14px;}body{text-align: left;}#prompt{width: auto;height: auto;position: static;margin: 0;padding: 2rem 1.5rem;}}
	</style>
</head>
<body>
	<body>
		<div id="prompt">
			You've just got another <span id="title-text">Twitter</span> client.
			<br/><br/>
			<a href='/login' id="login-link">Sign in with Twitter</a>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
				<br /><br />
				<ul class="flashes">
				{% for message in messages %}
					<li>{{ message }}</li>
				{% endfor %}
				</ul>
			{% endif %}
			{% endwith %}
		</span>
	</div>
</body>
</html>